USE [master]
GO
/****** Object:  Database [Reserva5]    Script Date: 13/04/2015 21:10:53 ******/
CREATE DATABASE [Reserva5]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Reserva5', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Reserva5.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Reserva5_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Reserva5_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Reserva5].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Reserva5]
GO
/****** Object:  Table [dbo].[ADMINISTRADORES]    Script Date: 13/04/2015 21:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMINISTRADORES](
	[USUARIO_ID] [bigint] NOT NULL,
	[COMPLEJO_ID] [bigint] NOT NULL,
	[CANCHA_ID] [bigint] NULL,
 CONSTRAINT [IX_ADMINISTRADORES] UNIQUE NONCLUSTERED 
(
	[USUARIO_ID] ASC,
	[COMPLEJO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CANCHAS]    Script Date: 13/04/2015 21:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CANCHAS](
	[CANCHA_ID] [bigint] NOT NULL,
	[COMPLEJO_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NUMERO] [smallint] NOT NULL,
	[JUGADORES] [smallint] NOT NULL,
 CONSTRAINT [PK_CANCHAS] PRIMARY KEY CLUSTERED 
(
	[CANCHA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COMPLEJOS]    Script Date: 13/04/2015 21:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPLEJOS](
	[COMPLEJO_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
	[CIUDAD] [nvarchar](50) NOT NULL,
	[DIR_LINEA_1] [nvarchar](100) NOT NULL,
	[LATITUD] [bigint] NULL,
	[LONGITUD] [bigint] NULL,
	[EMAIL] [nvarchar](100) NULL,
	[EMAIL_VALIDO] [bit] NOT NULL,
	[TEL_1] [nvarchar](15) NOT NULL,
	[TEL_2] [nvarchar](15) NULL,
	[LOGO] [image] NULL,
 CONSTRAINT [PK_COMPLEJOS] PRIMARY KEY CLUSTERED 
(
	[COMPLEJO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FAVORITOS]    Script Date: 13/04/2015 21:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAVORITOS](
	[FAVORITO_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[COMPLEJO_ID] [bigint] NOT NULL,
	[USUARIO_ID] [bigint] NOT NULL,
 CONSTRAINT [PK_FAVORITOS] PRIMARY KEY CLUSTERED 
(
	[FAVORITO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IMAGENES]    Script Date: 13/04/2015 21:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMAGENES](
	[IMAGEN_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CANCHA_ID] [bigint] NOT NULL,
	[IMAGEN] [image] NOT NULL,
 CONSTRAINT [PK_IMAGENES] PRIMARY KEY CLUSTERED 
(
	[IMAGEN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PALABRAS_CLAVES]    Script Date: 13/04/2015 21:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PALABRAS_CLAVES](
	[PALABRA_CLAVE_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[COMPLEJO_ID] [bigint] NOT NULL,
	[TERMINO] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_PALABRAS_CLAVES] PRIMARY KEY CLUSTERED 
(
	[PALABRA_CLAVE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RESERVAS]    Script Date: 13/04/2015 21:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RESERVAS](
	[RESERVA_ID] [uniqueidentifier] NOT NULL,
	[COMPLEJO_ID] [bigint] NOT NULL,
	[CANCHA_ID] [bigint] NOT NULL,
	[FECHA_HORA] [datetime] NOT NULL,
	[SOLICITUD_ID] [uniqueidentifier] NULL,
	[ESTADO] [char](1) NOT NULL,
	[MOTIVO_ESTADO] [int] NULL,
	[NOMBRE] [nvarchar](15) NULL,
	[APELLIDO] [nvarchar](20) NULL,
	[TELEFONO] [nvarchar](15) NULL,
 CONSTRAINT [PK_RESERVAS] PRIMARY KEY CLUSTERED 
(
	[RESERVA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RESERVAS_MOTIVOS]    Script Date: 13/04/2015 21:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RESERVAS_MOTIVOS](
	[MOTIVO_ID] [int] IDENTITY(1,1) NOT NULL,
	[ESTADO] [char](1) NOT NULL,
	[MOTIVO] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_RESERVAS_MOTIVOS] PRIMARY KEY CLUSTERED 
(
	[MOTIVO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SOLICITUDES]    Script Date: 13/04/2015 21:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SOLICITUDES](
	[SOLICITUD_ID] [uniqueidentifier] NOT NULL,
	[COMPLEJO_ID] [bigint] NOT NULL,
	[CANCHA_ID] [bigint] NOT NULL,
	[USUARIO_ID] [bigint] NOT NULL,
	[USUARIO_ADMIN_ID] [bigint] NULL,
	[FECHA_HORA] [datetime] NOT NULL,
	[ESTADO] [char](1) NOT NULL,
	[MOTIVO_ESTADO] [int] NULL,
 CONSTRAINT [PK_SOLICITUDES] PRIMARY KEY CLUSTERED 
(
	[SOLICITUD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SOLICITUDES_MOTIVOS]    Script Date: 13/04/2015 21:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SOLICITUDES_MOTIVOS](
	[MOTIVO_ID] [int] NOT NULL,
	[ESTADO] [char](1) NOT NULL,
	[MOTIVO] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_SOLICITUDES_MOTIVOS] PRIMARY KEY CLUSTERED 
(
	[MOTIVO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 13/04/2015 21:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[USUARIO_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](15) NOT NULL,
	[APELLIDO] [nvarchar](20) NOT NULL,
	[TELEFONO] [nvarchar](15) NOT NULL,
	[TELEFONO_VALIDO] [bit] NOT NULL,
	[IMAGEN] [image] NULL,
	[EMAIL] [nvarchar](100) NOT NULL,
	[EMAIL_VALIDO] [bit] NOT NULL,
 CONSTRAINT [PK_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[USUARIO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[COMPLEJOS] ADD  CONSTRAINT [DF_COMPLEJOS_EMAIL_VALIDO]  DEFAULT ((0)) FOR [EMAIL_VALIDO]
GO
ALTER TABLE [dbo].[USUARIOS] ADD  CONSTRAINT [DF_USUARIOS_TELEFONO_VALIDO]  DEFAULT ((0)) FOR [TELEFONO_VALIDO]
GO
ALTER TABLE [dbo].[USUARIOS] ADD  CONSTRAINT [DF_USUARIOS_EMAIL_VALIDO]  DEFAULT ((0)) FOR [EMAIL_VALIDO]
GO
ALTER TABLE [dbo].[ADMINISTRADORES]  WITH CHECK ADD  CONSTRAINT [FK_ADMINISTRADORES_CANCHAS] FOREIGN KEY([CANCHA_ID])
REFERENCES [dbo].[CANCHAS] ([CANCHA_ID])
GO
ALTER TABLE [dbo].[ADMINISTRADORES] CHECK CONSTRAINT [FK_ADMINISTRADORES_CANCHAS]
GO
ALTER TABLE [dbo].[ADMINISTRADORES]  WITH CHECK ADD  CONSTRAINT [FK_ADMINISTRADORES_COMPLEJOS] FOREIGN KEY([COMPLEJO_ID])
REFERENCES [dbo].[COMPLEJOS] ([COMPLEJO_ID])
GO
ALTER TABLE [dbo].[ADMINISTRADORES] CHECK CONSTRAINT [FK_ADMINISTRADORES_COMPLEJOS]
GO
ALTER TABLE [dbo].[ADMINISTRADORES]  WITH CHECK ADD  CONSTRAINT [FK_ADMINISTRADORES_USUARIOS] FOREIGN KEY([USUARIO_ID])
REFERENCES [dbo].[USUARIOS] ([USUARIO_ID])
GO
ALTER TABLE [dbo].[ADMINISTRADORES] CHECK CONSTRAINT [FK_ADMINISTRADORES_USUARIOS]
GO
ALTER TABLE [dbo].[CANCHAS]  WITH CHECK ADD  CONSTRAINT [FK_CANCHAS_COMPLEJOS] FOREIGN KEY([COMPLEJO_ID])
REFERENCES [dbo].[COMPLEJOS] ([COMPLEJO_ID])
GO
ALTER TABLE [dbo].[CANCHAS] CHECK CONSTRAINT [FK_CANCHAS_COMPLEJOS]
GO
ALTER TABLE [dbo].[FAVORITOS]  WITH CHECK ADD  CONSTRAINT [FK_FAVORITOS_COMPLEJOS] FOREIGN KEY([COMPLEJO_ID])
REFERENCES [dbo].[COMPLEJOS] ([COMPLEJO_ID])
GO
ALTER TABLE [dbo].[FAVORITOS] CHECK CONSTRAINT [FK_FAVORITOS_COMPLEJOS]
GO
ALTER TABLE [dbo].[FAVORITOS]  WITH CHECK ADD  CONSTRAINT [FK_FAVORITOS_USUARIOS] FOREIGN KEY([USUARIO_ID])
REFERENCES [dbo].[USUARIOS] ([USUARIO_ID])
GO
ALTER TABLE [dbo].[FAVORITOS] CHECK CONSTRAINT [FK_FAVORITOS_USUARIOS]
GO
ALTER TABLE [dbo].[IMAGENES]  WITH CHECK ADD  CONSTRAINT [FK_IMAGENES_CANCHAS] FOREIGN KEY([CANCHA_ID])
REFERENCES [dbo].[CANCHAS] ([CANCHA_ID])
GO
ALTER TABLE [dbo].[IMAGENES] CHECK CONSTRAINT [FK_IMAGENES_CANCHAS]
GO
ALTER TABLE [dbo].[PALABRAS_CLAVES]  WITH CHECK ADD  CONSTRAINT [FK_PALABRAS_CLAVES_COMPLEJOS] FOREIGN KEY([COMPLEJO_ID])
REFERENCES [dbo].[COMPLEJOS] ([COMPLEJO_ID])
GO
ALTER TABLE [dbo].[PALABRAS_CLAVES] CHECK CONSTRAINT [FK_PALABRAS_CLAVES_COMPLEJOS]
GO
ALTER TABLE [dbo].[RESERVAS]  WITH CHECK ADD  CONSTRAINT [FK_RESERVAS_CANCHAS] FOREIGN KEY([CANCHA_ID])
REFERENCES [dbo].[CANCHAS] ([CANCHA_ID])
GO
ALTER TABLE [dbo].[RESERVAS] CHECK CONSTRAINT [FK_RESERVAS_CANCHAS]
GO
ALTER TABLE [dbo].[RESERVAS]  WITH CHECK ADD  CONSTRAINT [FK_RESERVAS_COMPLEJOS] FOREIGN KEY([COMPLEJO_ID])
REFERENCES [dbo].[COMPLEJOS] ([COMPLEJO_ID])
GO
ALTER TABLE [dbo].[RESERVAS] CHECK CONSTRAINT [FK_RESERVAS_COMPLEJOS]
GO
ALTER TABLE [dbo].[RESERVAS]  WITH CHECK ADD  CONSTRAINT [FK_RESERVAS_RESERVAS_MOTIVOS] FOREIGN KEY([MOTIVO_ESTADO])
REFERENCES [dbo].[RESERVAS_MOTIVOS] ([MOTIVO_ID])
GO
ALTER TABLE [dbo].[RESERVAS] CHECK CONSTRAINT [FK_RESERVAS_RESERVAS_MOTIVOS]
GO
ALTER TABLE [dbo].[RESERVAS]  WITH CHECK ADD  CONSTRAINT [FK_RESERVAS_SOLICITUDES] FOREIGN KEY([SOLICITUD_ID])
REFERENCES [dbo].[SOLICITUDES] ([SOLICITUD_ID])
GO
ALTER TABLE [dbo].[RESERVAS] CHECK CONSTRAINT [FK_RESERVAS_SOLICITUDES]
GO
ALTER TABLE [dbo].[SOLICITUDES]  WITH CHECK ADD  CONSTRAINT [FK_SOLICITUDES_CANCHAS] FOREIGN KEY([CANCHA_ID])
REFERENCES [dbo].[CANCHAS] ([CANCHA_ID])
GO
ALTER TABLE [dbo].[SOLICITUDES] CHECK CONSTRAINT [FK_SOLICITUDES_CANCHAS]
GO
ALTER TABLE [dbo].[SOLICITUDES]  WITH CHECK ADD  CONSTRAINT [FK_SOLICITUDES_COMPLEJOS] FOREIGN KEY([COMPLEJO_ID])
REFERENCES [dbo].[COMPLEJOS] ([COMPLEJO_ID])
GO
ALTER TABLE [dbo].[SOLICITUDES] CHECK CONSTRAINT [FK_SOLICITUDES_COMPLEJOS]
GO
ALTER TABLE [dbo].[SOLICITUDES]  WITH CHECK ADD  CONSTRAINT [FK_SOLICITUDES_SOLICITUDES_MOTIVOS] FOREIGN KEY([MOTIVO_ESTADO])
REFERENCES [dbo].[SOLICITUDES_MOTIVOS] ([MOTIVO_ID])
GO
ALTER TABLE [dbo].[SOLICITUDES] CHECK CONSTRAINT [FK_SOLICITUDES_SOLICITUDES_MOTIVOS]
GO
ALTER TABLE [dbo].[SOLICITUDES]  WITH CHECK ADD  CONSTRAINT [FK_SOLICITUDES_USUARIOS] FOREIGN KEY([USUARIO_ID])
REFERENCES [dbo].[USUARIOS] ([USUARIO_ID])
GO
ALTER TABLE [dbo].[SOLICITUDES] CHECK CONSTRAINT [FK_SOLICITUDES_USUARIOS]
GO
ALTER TABLE [dbo].[SOLICITUDES]  WITH CHECK ADD  CONSTRAINT [FK_SOLICITUDES_USUARIOS_ADMIN] FOREIGN KEY([USUARIO_ADMIN_ID])
REFERENCES [dbo].[USUARIOS] ([USUARIO_ID])
GO
ALTER TABLE [dbo].[SOLICITUDES] CHECK CONSTRAINT [FK_SOLICITUDES_USUARIOS_ADMIN]
GO
ALTER TABLE [dbo].[RESERVAS]  WITH CHECK ADD  CONSTRAINT [CK_RESERVAS_ESTADO] CHECK  (([ESTADO]='A' OR [ESTADO]='R'))
GO
ALTER TABLE [dbo].[RESERVAS] CHECK CONSTRAINT [CK_RESERVAS_ESTADO]
GO
ALTER TABLE [dbo].[RESERVAS_MOTIVOS]  WITH CHECK ADD  CONSTRAINT [CK_RESERVAS_MOTIVOS_ESTADO] CHECK  (([ESTADO]='A'))
GO
ALTER TABLE [dbo].[RESERVAS_MOTIVOS] CHECK CONSTRAINT [CK_RESERVAS_MOTIVOS_ESTADO]
GO
ALTER TABLE [dbo].[SOLICITUDES]  WITH CHECK ADD  CONSTRAINT [CK_SOLICITUDES_ESTADO] CHECK  (([ESTADO]='P' OR [ESTADO]='R' OR [ESTADO]='A'))
GO
ALTER TABLE [dbo].[SOLICITUDES] CHECK CONSTRAINT [CK_SOLICITUDES_ESTADO]
GO
ALTER TABLE [dbo].[SOLICITUDES_MOTIVOS]  WITH CHECK ADD  CONSTRAINT [CK_SOLICITUDES_MOTIVOS_ESTADO] CHECK  (([ESTADO]='P' OR [ESTADO]='R'))
GO
ALTER TABLE [dbo].[SOLICITUDES_MOTIVOS] CHECK CONSTRAINT [CK_SOLICITUDES_MOTIVOS_ESTADO]
GO
USE [master]
GO
